{% extends 'base.html' %}

{% block title %}WSM User Stations{% endblock %}

{% block content %}
<div class="w-full px-8 py-16">
	<div class="max-w-5xl mx-auto">
		<div class="w-full mt-8 mx-auto overflow-hidden lg:overflow-visible">
            <h1 class="text-center text-xl font-extrabold tracking-wide">Your Stations</h1>
			<table style="border-spacing: 0px 2em;" class="w-full table table-fixed border-separate space-y-8 text-xs lg:text-sm">
				<thead>
					<tr class="text-left bg-gradient-to-r from-green-300 to-blue-300 text-gray-700 break-words overflow-hidden shadow-lg">
						<th class="sm:w-1/12 rounded-l-lg p-3" style="width: 45%">Topic</th>
						<th class="hidden sm:table-cell w-1/2 p-3">Name</th>
						<th class="hidden sm:table-cell w-1/6 p-3">Lat.</th>
						<th class="hidden sm:table-cell w-1/6 p-3">Long.</th>
						<th class="sm:w-1/12 p-3" style="width: 45%">Dist. (km)</th>
						<th class="rounded-r-lg p-3" style="width: 10%"></th>
					</tr>
				</thead>
				<tbody>
					{% for sta in stations %}
					<tr onclick="window.location='{{ sta.get_absolute_url }}';" class="cursor-pointer hover:ring hover:ring-indigo-400 hover:outline-none text-left bg-gray-700 overflow-hidden shadow-lg">
						<td class="rounded-l-lg p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">{{ sta.topic }}</td>
						<td class="hidden sm:table-cell break-normal p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">{{ sta.name }}</td>
                        <td class="hidden sm:table-cell p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">{{ sta.location.coords.1|floatformat:4 }}</td>
						<td class="hidden sm:table-cell p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">{{ sta.location.coords.0|floatformat:4 }}</td>
						<td class="p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">{{ sta.distance|floatformat:3|default:"??" }}</td>
						<td class="rounded-r-lg p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">
							<a href="{% url 'station-delete' pk=sta.pk %}" class="text-blue-300 transition duration-150 ease-out hover:text-white">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<title>Delete</title>
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
								</svg>
							</a>
						</td>
					</tr>
					{% endfor %}
					<tr class="text-left bg-gray-700 overflow-hidden shadow-lg">
						<td class="rounded-l-lg p-3 transition duration-150 ease-out hover:text-white" x-data="{ hover: false }">
                            <a href="{% url 'station-add' %}" class="text-green-300 transition duration-150 ease-out hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <title>Add new</title>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </a>
                        </td>
                        <td class="p-3"></td>
						<td class="hidden sm:table-cell p-3"></td>
                        <td class="hidden sm:table-cell p-3"></td>
                        <td class="hidden sm:table-cell p-3"></td>
						<td class="rounded-r-lg p-3">
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}